.logo {
  display: flex;
  height: 100%;
  align-items: center;
  float: left;
  font-size: 18px;

  .image {
    width: 32px;
    margin-right: 8px;
  }
}

.user {
  display: flex;
  height: 100%;
  align-items: center;
  color: #000;
  float: right;
  transition: color 100ms ease-in-out;

  &:hover {
    color: #606060;
  }

  .avatar {
    margin-right: 8px;
  }
}

.userOverlay :global .ant-dropdown-menu {
  width: 150px;
  padding: 6px 0;
}
