.form {
  width: 450px;

  :global .ant-form-item {
    margin-bottom: 12px;
  }

  :global .ant-form-item:last-child {
    margin-bottom: 0;
  }
}

.dateRangePicker {
  width: 100%;
}

.buttons {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: baseline;

  :global .ant-space-item:nth-child(3) {
    flex-grow: 1;
    justify-self: flex-end;

    .spin {
      display: flex;
      flex-direction: row;
    }
  }
}
