@import "../styles/constants";
@import "../styles/fonts";
@import "../styles/mixins";

body {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

* {
  @scrollbarSize: 6px;
  @scrollbarBackground: rgba(0, 0, 0, 0);
  @scrollbarForeground: rgba(0, 0, 0, 0.2);
  @scrollbarForegroundHover: rgba(0, 0, 0, 0.35);
  @scrollbarForegroundActive: rgba(0, 0, 0, 0.5);

  scrollbar-color: @scrollbarForeground @scrollbarBackground;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: @scrollbarSize;
    height: @scrollbarSize;
  }

  &::-webkit-scrollbar-track {
    background-color: @scrollbarBackground;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @scrollbarForeground;
    border-radius: 10px;

    &:hover {
      background-color: @scrollbarForegroundHover;
    }

    &:active {
      background-color: @scrollbarForegroundActive;
    }
  }
}

.pageHeader {
  z-index: 2;
  height: @headerHeight;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px;
}

.pageBody {
  height: calc(100vh - @headerHeight);

  .menu {
    z-index: 1;
    height: calc(100vh - @headerHeight);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 0 6px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .content {
    height: calc(100vh - @headerHeight);
    padding: @contentPadding;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
