@import "../../styles/mixins";
@import "../../styles/palette";

.tag {
  .noTextSelect;

  &-Rush {
    border-color: @palette-Red-200;
    background: @palette-Red-100;
    color: @palette-Red-900;
  }

  &-Non-Rush {
    border-color: @palette-Grey-200;
    background: @palette-Grey-100;
    color: @palette-Grey-900;
  }

  &-CDL {
    border-color: @palette-Blue-200;
    background: @palette-Blue-100;
    color: @palette-Blue-900;
  }

  &-Local {
    border-color: @palette-Light-Green-200;
    background: @palette-Light-Green-100;
    color: @palette-Light-Green-900;
  }

  &-NYC {
    border-color: @palette-Purple-200;
    background: @palette-Purple-100;
    color: @palette-Purple-900;
  }

  &-Course-Reserve {
    border-color: @palette-Brown-200;
    background: @palette-Brown-100;
    color: @palette-Brown-900;
  }

  &-DVD {
    border-color: @palette-Amber-200;
    background: @palette-Amber-100;
    color: @palette-Amber-900;
  }

  &-ILL {
    border-color: @palette-Lime-200;
    background: @palette-Lime-100;
    color: @palette-Lime-900;
  }

  &-Sensitive {
    border-color: @palette-Indigo-200;
    background: @palette-Indigo-100;
    color: @palette-Indigo-900;
  }
}
