.dragBox {
  padding: 30px 0;

  span {
    color: #929292;
  }
}

.buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;

  *:first-child {
    flex-grow: 1;
    justify-self: flex-start;
  }
}
