@import "../../styles/constants";
@import "../../styles/mixins";

.overlay {
  .noTextSelect;

  .dragHandle {
    color: #999;
    cursor: grab;
  }

  .checkAll {
    .noTextSelect;

    margin-left: 25px;
  }

  .divider {
    margin: 6px 0;
  }

  .checkOne {
    .noTextSelect;

    &-Unchecked {
      color: @inactiveTextColor;
    }

    &-Checked {
      color: #000;
    }
  }

  .buttons {
    margin: 5px 0;
  }
}

.draggingRowHelper {
  z-index: 1030;
  border: 1px solid #ccc;
  background-color: #fafafa;

  td:nth-child(2) {
    padding-left: 10px;
  }
}
